/* Page wide */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}

.hide{
    display: none;
}

.sm{
    margin-right: 0.5rem;
    margin-left: -0.7rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 10px 20px;
}

.sm:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Left Vertical Navbar */
.navbar{
    cursor: pointer;
}

.fab{
    position: fixed;
    opacity: 0.3;
    left: 1.5%;
}

.fab:hover{
    color: cadetblue !important;
    border-radius: 50%;
    color: cornsilk;
}

#home-btn{
    bottom: 65%;
}

#login-btn{
    bottom: 55%;

}

#faq-btn{
    bottom: 45%;

}

#contact-btn{
    bottom: 35%;

}


/* Home */
#home{
    height: 100vh;
    background-color: white;
}


/* Home Title Bar */
.title-bar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: Arial, Helvetica, sans-serif ;
    background-color: rgb(235,235,235);
    padding: 1rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#title-center{
    grid-column-start: 2;
    grid-column-end: 4;
    display:flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#title-center>h1{
    margin-left:1.5rem;
}

#title-btn{
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
}

#title-btn>button:hover{
    background-color: black;
}


/* Home Content */
.index{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.left{
    grid-column-start: 1;
    grid-column-end: 2;
}

.right{
    grid-column-start: 3;
    grid-column-end: 4;
}

.quote{
    position: relative;
    top: 30%;
    left: 35%;
    font-size: 2rem;
}

.justice-woman{
    margin-top: 50px;
    height: 500px;
}

#quote-author{
    margin-left: 60%;
}


/* Login */
#carousel{
    height: 100vh;
    padding: 6% 0;
}

.carousel-wrapper{
    position: relative;
    height: 95%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.carousel__button{
    position: absolute;
    top:50%;
    cursor: pointer;
    transform: translateY(-50%);    
    padding: 100% 5%;
}

.carousel__button--prev{
    left: 0px;
    z-index: 101;
    color: rgba(0,0,0,0.2)
}

.carousel__button--next{
    right: 0px;
    color: rgba(0,0,0,0.2);
}

.carousel__button:hover{
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.carousel__button--prev:hover, 
.carousel__button--next:hover{
    color: rgba(0, 0, 0, 0.8);
}

.carousel__track-container{
    background-color: blue;
    height: 100%;
    position: relative;
}

.carousel__track{
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 500ms ease-in;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#client-btn,
#lawyer-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 102;
    transform: translate(-50%, -50%);
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.carousel__nav{
    position: relative;
    width: 90%;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 1%;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}

.carousel__indicator.current-slide{
    background: pink;
}
