#carousel{
    height: 100vh;
    padding: 6% 0;
}

.carousel-wrapper{
    position: relative;
    height: 90%;
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.carousel__button{
    position: absolute;
    top:50%;
    cursor: pointer;
    transform: translateY(-50%);
    padding: 100% 5%;
}

.carousel__button--prev{
    left: 0px;
    z-index: 101;
    color: rgba(0,0,0,0.2)
}

.carousel__button--next{
    right: 0px;
    color: rgba(0,0,0,0.2);
}

.carousel__button:hover{
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.carousel__button--prev:hover,
.carousel__button--next:hover{
    color: rgba(0, 0, 0, 0.8);
}

.carousel__track-container{
    background-color: blue;
    height: 100%;
    position: relative;
}

.carousel__track{
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 500ms ease-in;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#client-btn,
#lawyer-btn,
#admin-btn{
    color: #d8c962;
    position: absolute;
    top: 80%;
    left: 80%;
    z-index: 102;
    transform: translate(-50%, -50%);
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
}

#client-btn:hover,
#lawyer-btn:hover,
#admin-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #ed8240;
}

.carousel__nav{
    position: relative;
    width: 90%;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 1%;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}

.carousel__indicator.current-slide{
    background: pink;
}
